@page "/category/{Id:int}"
@rendermode InteractiveServer
@inject ICategoryService categoryService
@inject NavigationManager navigationManager
<BreadCrumbComponent Items="breadcrumbItems"></BreadCrumbComponent>
<h3>Category</h3>
<AuthorizeView>
    <MudButton OnClick="@OnNewPostClicked" StartIcon="@Icons.Material.Filled.AddToQueue">Opret nyt opslag</MudButton>
</AuthorizeView>
@if (Id > 0)
{
    if (posts.Count <= 0)
    {
        <MudText>Ingen opslag...</MudText>
    }
    else
    {
        <h2>@selectedCategory.Title</h2>
        <p>Opslag i kategori: @posts?.Count</p>
        <MudTable T="Post" Items="@posts" Hover="true" SortLabel="Sort By" OnRowClick="OnRowClick">
            <HeaderContent>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Post, object>(p => p.Title)">Titel</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<Post, object>(p => p.DateCreated)">Oprettet</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel Enabled="@enabled" SortBy="new Func<Post, object>(p => p.DateEdited)">Redigeret
                    </MudTableSortLabel>
                </MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Titel">@context.Title</MudTd>
                <MudTd DataLabel="Sign">@context.Content</MudTd>
                <MudTd DataLabel="Name">@context.DateCreated</MudTd>
                <MudTd DataLabel="Position">@context.DateEdited</MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="new[] { 10, 25, 50, 100 }"/>
            </PagerContent>
        </MudTable>
    }
}
else
{
    <p>Category not found.</p>
}

@code {
    [Parameter] public int Id { get; set; }
    [CascadingParameter] public string CategoryTitle { get; set; }
    private int postId;
    private string createdDate;
    private string lastEditedDate;
    private Category selectedCategory = new();
    private List<Post>? posts = new();
    private List<BreadcrumbItem> breadcrumbItems = new();
    private readonly bool enabled = true;

    private void OnRowClick(TableRowClickEventArgs<Post> args)
    {
        var post = args.Item;
        navigationManager.NavigateTo($"/posts/{post.Id}");
    }

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            selectedCategory = await categoryService.GetCategoryByIdAsync(Id);
            breadcrumbItems = new List<BreadcrumbItem>
            {
                new("Home", "/"),
                new(selectedCategory.Title, null, true)
            };
            CategoryTitle = selectedCategory.Title;
            posts = selectedCategory?.Posts ?? new List<Post>();
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            posts = new List<Post>();
        }
    }

    private void OnNewPostClicked()
    {
        navigationManager.NavigateTo($"/category/{Id}/posts/new");
    }

}