@page "/category/{Id:int}"
@using Microsoft.IdentityModel.Tokens
@inject ICategoryService categoryService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<h3>Category</h3>
<AuthorizeView>
    <MudButton OnClick="@OnNewPostClicked" StartIcon="@Icons.Material.Filled.AddToQueue">Opret nyt opslag</MudButton>
</AuthorizeView>
@if (selectedCategory != null)
{
    <h2>@selectedCategory.Title</h2>
    <p>@posts?.Count</p>
    <table class="table table-hover bg-white">
        <thead>
        <tr>
            <th scope="col">Kategori</th>
            <th scope="col">Indhold</th>
            <th scope="col">Oprettet</th>
            <th scope="col">Redigeret</th>
            <th scope="col" class="text-center">
                <i class="bi bi-gear-fill"></i>
            </th>
        </tr>
        </thead>
        <tbody>
        @if (!posts.IsNullOrEmpty())
        {
            @foreach (var post in posts)
            {
                postId = post.Id;
                <tr @onclick="OnRowClick" style="cursor: pointer">
                    <td>@post.Title</td>
                    <td>@post.Content</td>
                    <td>@post.DateCreated</td>
                    <td>@post.DateEdited</td>
                    <td>
                        <MudButton OnClick="OnRowClick"
                                   StartIcon="@Icons.Material.Filled.FileOpen"></MudButton>
                    </td>

                </tr>
            }
        }
        else
        {
            <MudText Typo="Typo.body2">Ingen opslag endnu..</MudText>
        }
        </tbody>
    </table>
}
else
{
    <p>Category not found.</p>
}

@code {
    [Parameter] public int Id { get; set; }
    [CascadingParameter] public string CategoryTitle { get; set; }
    private int postId;
    private Category selectedCategory;
    private List<Post>? posts;

    private void OnRowClick()
    {
        navigationManager.NavigateTo($"/posts/{postId}");
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            selectedCategory = await categoryService.GetCategoryByIdAsync(Id);
            CategoryTitle = selectedCategory.Title;
            posts = selectedCategory?.Posts ?? new List<Post>();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            posts = new List<Post>();
        }
    }

    private void OnNewPostClicked()
    {
        navigationManager.NavigateTo($"/category/{Id}/posts/new");
    }

}