@using Microsoft.IdentityModel.Tokens
@rendermode InteractiveServer
@inject ICategoryService service
@inject NavigationManager nav
<MudPaper>
    <MudCard>
        <MudImage Src="@SelectedCategory.CoverImgPath" Class="rounded-lg" ObjectFit="ObjectFit.Cover" Height="200"
                  ObjectPosition="ObjectPosition.Center"
        ></MudImage>
        <MudCardContent>
            <MudText Typo="Typo.h3">@SelectedCategory.Title
                <MudImage Src="@SelectedCategory.LogoImgPath" Height="36" Width="36"></MudImage>
            </MudText>
            @if (!SelectedCategory.Description.IsNullOrEmpty())
            {
                @if (SelectedCategory.Description.Length >= 200)
                {
                    <MudButton OnClick="@OnExpandCollapseClick">@(expanded ? "Fold beskrivelse" : "Udvid beskrivelse")
                    </MudButton>
                    <MudDivider/>
                    <MudCollapse Expanded="expanded">@SelectedCategory.Description</MudCollapse>
                }
                else
                {
                    <MudText
                        Typo="Typo.body1">@(SelectedCategory.Description.IsNullOrEmpty() ? "" : SelectedCategory.Description)</MudText>
                }
            }
            else
            {
                <MudText>Ingen kategorier fundet denne gang</MudText>
            }
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Primary">
                <a href="/category/@SelectedCategory.Id">Åbn kategori</a>
            </MudButton>
            <AuthorizeView>
                <MudButton OnClick="@DeleteCategoryAsync" StartIcon="@Icons.Material.Filled.Delete">Slet
                    kategori
                </MudButton>

                <MudButton StartIcon="@Icons.Material.Filled.Edit" OnClick="@EditCategoryAsync">Rediger
                    kategori
                </MudButton>
            </AuthorizeView>

        </MudCardActions>
    </MudCard>
</MudPaper>

@code
{
    [Parameter] public Category SelectedCategory { get; set; }
    private bool expanded;

    private async Task DeleteCategoryAsync()
    {
        await service.DeleteCategoryAsync(SelectedCategory);
        nav.Refresh(true);
    }

    private async Task EditCategoryAsync()
    {
        nav.NavigateTo($"/category/edit/{SelectedCategory.Id}");
        nav.Refresh();
    }

    private void OnExpandCollapseClick()
    {
        expanded = !expanded;
    }
}
