@page "/category/{Id:int}"
@using Microsoft.IdentityModel.Tokens
@inject ICategoryService categoryService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<BreadCrumbComponent Items="breadcrumbItems"></BreadCrumbComponent>
<h3>Category</h3>
<AuthorizeView>
    <MudButton OnClick="@OnNewPostClicked" StartIcon="@Icons.Material.Filled.AddToQueue">Opret nyt opslag</MudButton>
</AuthorizeView>
@if (selectedCategory != null)
{
    <h2>@selectedCategory.Title</h2>
    <p>@posts?.Count</p>
    <table class="table table-hover bg-white">
        <thead>
        <tr>
            <th scope="col">Kategori</th>
            <th scope="col">Indhold</th>
            <th scope="col">Oprettet</th>
            <th scope="col">Redigeret</th>
            <th scope="col" class="text-center">
                <i class="bi bi-gear-fill"></i>
            </th>
        </tr>
        </thead>
        <tbody>
        @if (!posts.IsNullOrEmpty())
        {
            @foreach (var post in posts.OrderByDescending(p => p.DateEdited))
            {
                createdDate = post.DateCreated.ToString("dd/MM | HH:mm");
                lastEditedDate = post.DateEdited.ToString("dd/MM | HH:mm");
                <tr @onclick="@(() => OnRowClick(post.Id))" style="cursor: pointer">
                    <td>@post.Title</td>
                    <td>@post.Content</td>
                    <td>@createdDate</td>
                    <td>@lastEditedDate</td>
                    <td>
                        <MudButton OnClick="@(() => OnRowClick(post.Id))"
                                   StartIcon="@Icons.Material.Filled.FileOpen"></MudButton>
                    </td>
                </tr>
            }
        }
        else
        {
            <MudText Typo="Typo.body2">Ingen opslag endnu..</MudText>
        }
        </tbody>
    </table>
}
else
{
    <p>Category not found.</p>
}

@code {
    [Parameter] public int Id { get; set; }
    [CascadingParameter] public string CategoryTitle { get; set; }
    private int postId;
    private string createdDate;
    private string lastEditedDate;
    private Category selectedCategory;
    private List<Post>? posts;
    private List<BreadcrumbItem> breadcrumbItems = new();

    private void OnRowClick(int selectedId)
    {
        navigationManager.NavigateTo($"/posts/{selectedId}");
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            selectedCategory = await categoryService.GetCategoryByIdAsync(Id);
            breadcrumbItems = new List<BreadcrumbItem>
            {
                new("Home", "/"),
                new(selectedCategory.Title, null, true)
            };
            CategoryTitle = selectedCategory.Title;
            posts = selectedCategory?.Posts ?? new List<Post>();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            posts = new List<Post>();
        }
    }

    private void OnNewPostClicked()
    {
        navigationManager.NavigateTo($"/category/{Id}/posts/new");
    }

}