@using Microsoft.IdentityModel.Tokens
@rendermode InteractiveServer
@inject ICategoryService CategoryService
@inject IBlobStorageService BlobService
@inject NavigationManager Nav
<MudPaper>
    <MudCard>
        <MudImage Src="@SelectedCategory.CoverImgPath" Class="rounded-lg" ObjectFit="ObjectFit.ScaleDown" Height="200"
                  Width="500"
                  ObjectPosition="ObjectPosition.Center">

        </MudImage>

        <MudCardContent>
            <MudContainer Class="card-header">
                <MudText Style="@HeaderStyle" Typo="Typo.h3">@SelectedCategory.Title
                    <MudImage Src="@SelectedCategory.LogoImgPath" Height="24" Width="24"></MudImage>
                </MudText>
            </MudContainer>
            @if (!SelectedCategory.Description.IsNullOrEmpty())
            {
                @if (SelectedCategory.Description.Length >= 100)
                {
                    <MudButton OnClick="@OnExpandCollapseClick">@(expanded ? "Fold beskrivelse" : "Udvid beskrivelse")
                    </MudButton>
                    <MudDivider/>
                    <MudCollapse Expanded="expanded">@SelectedCategory.Description</MudCollapse>
                }
                else
                {
                    <MudText
                        Typo="Typo.body1">@(SelectedCategory.Description.IsNullOrEmpty() ? "" : SelectedCategory.Description)</MudText>
                }
            }
            else
            {
                <MudText>Ingen kategorier fundet denne gang</MudText>
            }
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Primary">
                <a href="/category/@SelectedCategory.Id">Åbn kategori</a>
            </MudButton>
            <AuthorizeView>
                <MudButton OnClick="@DeleteCategoryAsync" StartIcon="@Icons.Material.Filled.Delete">Slet
                    kategori
                </MudButton>

                <MudButton StartIcon="@Icons.Material.Filled.Edit" OnClick="@EditCategoryAsync">Rediger
                    kategori
                </MudButton>
            </AuthorizeView>

        </MudCardActions>
    </MudCard>
</MudPaper>

@code
{
    [Parameter] public Category SelectedCategory { get; set; }
    private bool expanded;

    private async Task DeleteCategoryAsync()
    {
        string blobName = Path.GetFileName(SelectedCategory.CoverImgPath);
        await BlobService.DeleteBlobAsync(blobName);
        await CategoryService.DeleteCategoryAsync(SelectedCategory);
        Nav.Refresh(true);
    }

    private string HeaderStyle
    {
        get
        {
            var typeAndColor = new Dictionary<string, string>
            {
                { "diverse.png", "#3D6B0C" },
                { "log.png", "#138485" },
                { "project.png", "#852F13" }
            };

            var color = typeAndColor.TryGetValue(
                Path.GetFileName(SelectedCategory?.LogoImgPath ?? string.Empty),
                out var c)
                ? c
                : "#000000";

            return $"color:{color}";
        }
    }


    private void EditCategoryAsync()
    {
        Nav.NavigateTo($"/category/edit/{SelectedCategory.Id}");
        Nav.Refresh();
    }

    private void OnExpandCollapseClick()
    {
        expanded = !expanded;
    }
}
