@using Microsoft.IdentityModel.Tokens
@using Category = ValgfagPortfolio.Model.Category
@rendermode InteractiveServer
@inject ICategoryService service
@inject NavigationManager nav
<MudPaper>
    <MudCard>
        <MudImage Src="@Category.CoverImgPath" Class="rounded-lg" ObjectFit="ObjectFit.Cover" Height="200" 
                  ObjectPosition="ObjectPosition.Center"
                  ></MudImage>
        <MudCardContent>
            <MudText Typo="Typo.h3">@Category.Title
                <MudImage Src="@Category.LogoImgPath" Height="36" Width="36"></MudImage>
            </MudText>
            @if (!Category.Description.IsNullOrEmpty())
            {
                @if (Category.Description.Length >= 200)
                {
                    <MudButton OnClick="@OnExpandCollapseClick">@(expanded ? "Fold beskrivelse" : "Udvid beskrivelse")
                    </MudButton>
                    <MudDivider/>
                    <MudCollapse Expanded="expanded">@Category.Description</MudCollapse>
                }
                else
                {
                    <MudText
                        Typo="Typo.body1">@(Category.Description.IsNullOrEmpty() ? "" : Category.Description)</MudText>
                }
            }
            else
            {
                <MudText Typo="Typo.body2" Color="Color.Info">Ingen beskrivelse</MudText>
            }
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" @Color="Color.Primary">
                <a href="/category-details/@Category.Id">Åbn kategori</a>
                <AuthorizeView>
                    <MudButton OnClick="@DeleteCategoryAsync" StartIcon="@Icons.Material.Filled.Delete">Slet
                        kategori
                    </MudButton>

                    <MudButton OnClick="@EditCategoryAsync" StartIcon="@Icons.Material.Filled.Edit">Rediger
                        kategori
                    </MudButton>
                </AuthorizeView>
            </MudButton>
        </MudCardActions>
    </MudCard>
</MudPaper>

@code
{
    [Parameter] public Category Category { get; set; }
    private bool expanded;

    private async Task DeleteCategoryAsync()
    {
        await service.DeleteCategoryAsync(Category);
        nav.Refresh(true);
    }

    private async Task EditCategoryAsync()
    {
        throw new NotImplementedException();
        nav.Refresh();
    }

    private void OnExpandCollapseClick()
    {
        expanded = !expanded;
    }
}
