@page "/References"
@rendermode InteractiveServer
@inject NavigationManager nav
<h3>Kilder</h3>
<MudTable bind-SelectedItem="@selectedReference" T="Reference" Items="references" Breakpoint="Breakpoint.Sm">
    <HeaderContent>
        <MudTh>URL</MudTh>
        <MudTh>Titel</MudTh>
        <MudTh>Forfatter</MudTh>
        <MudTh>Note</MudTh>
        <MudTh>Emne</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Title</MudTd>
        <MudTd>
            <MudLink Href="@context.URL">@context.URL</MudLink>
        </MudTd>
        <MudTd>@context.Author</MudTd>
        <MudTd>@context.Note</MudTd>
        <MudTd>@context.Subject</MudTd>
    </RowTemplate>
</MudTable>

<AuthorizeView>
    <MudExpansionPanel Text="Tilføj Reference">
        <MudForm @ref="form">
            <MudTextField @bind-Value="newReference.URL" Label="URL" Required="true" RequiredError="URL er påkrævet"/>
            <MudTextField @bind-Value="newReference.Title" Label="Titel"/>
            <MudTextField @bind-Value="newReference.Author" Label="Forfatter"/>
            <MudTextField @bind-Value="newReference.Note" Label="Note"/>
            <MudTextField @bind-Value="newReference.Subject" Label="Emne"/>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="AddReference" Class="mt-4">Tilføj
            </MudButton>
        </MudForm>
    </MudExpansionPanel>
</AuthorizeView>


@code {
    [Inject] public IReferenceService ReferenceService { get; set; }
    private List<Reference> references = new();
    private Reference newReference = new();
    private MudForm form;
    private int selectedId;
    private Reference selectedReference;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            references = await ReferenceService.GetAllReferencesAsync();
        }
        catch (NullReferenceException e)
        {
            Console.WriteLine(e);
        }
    }

    private async Task AddReference()
    {
        await form.Validate();
        if (form.IsValid)
        {
            await ReferenceService.CreateReferenceAsync(newReference);
            references = await ReferenceService.GetAllReferencesAsync();
            newReference = new Reference();
            await form.ResetAsync();
            nav.Refresh(true);
        }
    }

    private async Task DeleteReferenceAsync()
    {
        await ReferenceService.DeleteReferenceAsync(selectedReference);
    }

}